<html>

<head>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
    <title>My App</title>
</head>

<body style="text-align: center;">
    <h1 style="color: #333;">&#128153; Author JS &#128153;</h1>
    <p style="color: #34495E;">Vianney Abigail - Aprendiendo JS</p>
    <div>
        <img width="300px"
            src="https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
            alt="Foto JS">
    </div>
</body>

</html>